<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body style="display: block; align-items: center;  padding-top: 100px; justify-content: space-evenly;" class="bg-purple-400">
  
    <div class="max-w-4xl mx-auto bg-gradient-to-tr from-green-300 to-purple-300 border-[6px] border-purple-700 rounded-xl shadow-xl p-6 text-center">
        <h2 class="text-2xl font-bold text-purple-900 mb-4">{user name} Business Plan</h2>
        <p class="text-lg text-purple-800 mb-6">
            Thoroughly evaluate your business plan, as it will play a crucial role in securing specific types of financing and determining the overall success or failure of your journey.
        </p>
        
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4 text-left">
          <!-- Company Name -->
          <div>
            <p class="text-lg text-blue-800 font-semibold">COMPANY NAME</p>
            <p class="text-lg font-bold text-gray-900 bg-white p-2 rounded-lg">{business name}</p>
          </div>
      
          <!-- Location -->
          <div>
            <p class="text-lg text-blue-800 font-semibold">LOCATION</p>
            <p class="text-lg font-bold text-gray-900 bg-white p-2 rounded-lg">{home-based/physcal store/commercial space}</p>
          </div>
      
          <!-- Business type -->
          <div>
            <p class="text-lg text-blue-800 font-semibold">BUSINESS</p>
            <p class="text-lg font-bold text-gray-900 bg-white p-2 rounded-lg">{business type}</p>
          </div>
      
          <!-- Market -->
          <div>
            <p class="text-lg text-blue-800 font-semibold">MARKET</p>
            <p class="text-lg font-bold text-gray-900 bg-white p-2 rounded-lg">{target market}</p>
          </div>
      
          <!-- Business Goal -->
          <div>
            <p class="text-lg text-blue-800 font-semibold">BUSINESS GOAL</p>
            <p class="text-lg font-bold text-gray-900 bg-white p-2 rounded-lg">{business goal}</p>
          </div>
      
        </div>
      
        <div class="mt-6">
            <button class="bg-purple-700 hover:bg-purple-400 text-white font-bold py-2 px-6 rounded-full" onclick="proceed()">
                CONTINUE
            </button>
            <!-- Soft Gray -->
            <button class="bg-gray-400 hover:bg-gray-500 text-white font-semibold py-2 px-6 rounded-full" onclick="reset()">
                RESET
            </button>
  
        </div>
      </div>
      <script>
        function reset(){
          window.location.href = "mod1t1t2"
        }
        function proceed(){
          window.location.href = "mod3t1t2t3"
        }
      </script>
      
</body>
</html>