{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Own script and CSS file -->
    <script type="text/javascript" src="{% static 'module1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'mod1.css' %}">
    <title>Project Ideation transaction 3</title>
    {% tailwind_css %}
</head>
<body>
    <div class="mycontainer">
        <div class="mycard-container">

            <div class="mycard-vertical">

                <div class="mycard goal">
                    <div class="business-goal">Select your business Goals</div>
                <!-- TO DO:
                    4.) After clicking the colored boxes it should redirect to 'mod1t4.html'  -->
                    <div class="goals-container">

                        <div id="goal-opt1" class="options-1 cursor-pointer">
                            <a href="{% url 'module1t4' %}" class = "no-underline !important text-white !important">
                                <div class="goal-header">                            
                                    <div class="goal-icon">icon</div>
                                    <div class="goal-name">Community Impact</div> <!--Display the goals depending on the kind of business-->
                                </div>
                                <div class="goal-description">Provide top notch service to people.Provide top notch service to people.Provide top notch service to people.</div> <!--Display the goals depending on the kind of business-->
                            </a>
                            <button onclick="showAlert()" class="goal-button bg-yellow-500 text-black py-2 px-4 rounded hover:bg-yellow-700 focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:ring-offset-2">Select</button>
                        </div>

                        <div id="goal-opt2" class="options-2 cursor-pointer">
                            <a href="{% url 'module1t4' %}" class = "no-underline !important text-white !important">
                            <div class="goal-header">                            
                                <div class="goal-icon">icon</div>
                                <div class="goal-name">business goal</div> <!--Display the goals depending on the kind of business-->
                            </div>
                            <div class="goal-description">business goal description</div> <!--Display the goals depending on the kind of business-->
                            </a>
                        </div>

                        <div id="goal-opt3" class="options-3 cursor-pointer bg-yellow-200">
                            <a href="{% url 'module1t4' %}" class = "no-underline !important text-white !important">
                                <div class="goal-header">                            
                                    <div class="goal-icon">icon</div>
                                    <div class="goal-name">business goal</div> <!--Display the goals depending on the kind of business-->
                                </div>
                                <div class="goal-description">business goal description</div> <!--Display the goals depending on the kind of business-->
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>