{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Own script and CSS file -->
    <script type="text/javaScript" src="{% static 'test1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'mod1.css' %}">
    <title>Project Ideation transaction 3</title>

</head>
<body>
    <div class="mycontainer">
        <div class="mycard-container">

            <div class="mycard-vertical">

                <div class="mycard goal">
                    <div class="business-goal">Select your business Goals</div>
                    <div class="goals-container">

                        <div id="goal-opt1" class="options-1" onclick = "choiceT3(0)">
                            <div class="goal-header">                            
                                <div class="goal-icon">icon</div>
                                <div class="goal-name">business goal</div>
                            </div>
                            <div class="goal-description">business goal description</div>
                        </div>

                        <div id="goal-opt2" class="options-2" onclick = "choiceT3(1)">
                            <div class="goal-header">                            
                                <div class="goal-icon">icon</div>
                                <div class="goal-name">business goal</div>
                            </div>
                            <div class="goal-description">business goal description</div>
                        </div>

                        <div id="goal-opt3" class="options-3" onclick = "choiceT3(2)">
                            <div class="goal-header">                            
                                <div class="goal-icon">icon</div>
                                <div class="goal-name">business goal</div>
                            </div>
                            <div class="goal-description">business goal description</div>
                        </div>

                        <!--Add here form to save into database-->
                        {% comment %} <p id = 'choice2'> </p> {% endcomment %}

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>