{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Own script and CSS file -->
    <script type="text/javaScript" src="{% static 'test1.js' %}"></script>
    <link rel="stylesheet" href="{% static 'mod1.css' %}">
    <title>Project Ideation transaction 4</title>

</head>
<body>
    <div class="mycontainer">
        <div class="mycard-container">
            <div class="mycard-vertical">

                <div class="mycard goal">
                    <div class="business-goal">Select your Business name</div>
                    <div class="goals-container">

                        <div class="name-options">
                            <!-- TO DO:
                            5.) If one of the following is click create a alert to simulate the next phase of the game -->
                            <div class="name-header">                            
                                <div class="goal-icon">name option 1</div>
                                <div class="goal-icon">name option 1</div>
                                <div class="goal-icon">name option 1</div>
                            </div>
                            <div class="or">Or create you own Business name</div>
                            <!-- TO DO:
                            6.) if the input field is not empty, goal-icons div should not be clickable (disabled) -->
                            <div class="business-name-input">
                                <input type="text" placeholder="Enter your business name" class="businessNameInput">
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</body>
</html>