body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*====================================================================== style for transaction 1 & 2 ======================================================================================*/
.mycontainer {
    background-color: white;
    width: 100%;
    height: 100%;
    justify-items: center;
}
.mycard-container {
    display: flex;
    width: 90%;
    height: 75%;
}
.description{
    margin-top: 2%;
    width: 90%;
    height: 8%;
    background-color: #9C27B0;
    text-align: center;
}
.mycard {
    width: 90%;
    height: 50%;
    margin: 1.5%;
    margin-top: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
}
.tech {
    background-color: #4CAF50;
    display: block;
    padding: 3%;

}
.options  {
    background-color: #8BC34A; /* Gives each inner div a background color */
    padding: 10px;
    border-radius: 5px;
    border-style: dashed;
    flex-grow: 1; /* Ensures the inner divs are evenly distributed */
    text-align: center; /* Centers text inside the divs */
    color: #fff;
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
    height: 75%;

}
.business-category{
    margin-bottom: 2.5%;
    border-style: dashed;
    text-align: center; /* Centers text inside the divs */
    color: #fff;
    height:20% ;
    width:100% ;
}
.options-1{
    border-style: dashed;
    background-color: red; 
    width: 30%;
}
.options-2{
    border-style: dashed;
    background-color: blue; 
    width: 30%;
}
.options-3{
    border-style: dashed;
    background-color: yellow; 
    width: 30%;
}
.left{
    padding-left: 2.5%;
}
.right{
    padding-right: 2.5%;
}
.icon{
    background-color:bisque;
    height: 70%;
    color: black;
}
.food {
    background-color: #FF9800;
    display: block;
    padding: 3%;
}
.clothing {
    background-color: #2196F3;
    display: block;
    padding: 3%;
}
.services {
    background-color: #9C27B0;
    display: block;
    padding: 3%;
}
.mycard-vertical {
    justify-items: center;
    background-color: yellowgreen;
    width: 100%;
    height: 100%; 
}
/*======================================================================== style for transaction 3 ========================================================================================*/
.goal{
    background-color: black;
    display: block;
    padding: 0%;
    height: 100%;
    width: 100%;
}
.goals-container{
    background-color: #8BC34A; /* Gives each inner div a background color */
    padding: 10px;
    border-radius: 5px;
    /* border-style: dashed; */
    flex-grow: 1; /* Ensures the inner divs are evenly distributed */
    text-align: center; /* Centers text inside the divs */
    color: #fff;
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
    height: 100%;
}
.business-goal{
    margin-top: 5%;
    margin-bottom: 2.5%;
    /* border-style: dashed; */
    text-align: center; /* Centers text inside the divs */
    /* color: #fff; */
    width:100% ;
}
.goal-header{
    /* border-style: dashed;
    border-color: #fff; */
    margin: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    height: 20%;
}
.goal-icon{
    height: 90% ;
    width: 30%;
    border-style: dashed;
    margin: 1%;
}
.goal-name{
    height: 90% ;
    width: 70%;
    /* border-style: dashed; */
    margin: 1%;
}
.goal-description{
    height: 75% ;
    width: 95% ;
    margin: 2%;
    /* border-style: dashed; */
}

/* style for transaction 4 */
.name-options{
 border-style: dashed;
background-color: red; 
width: 100%;

}
.business-name-input{
    border-style: dashed;
}
.name-header{
    border-style: dashed;
    border-color: #fff;
    margin: 2.5%;
    display: flex;
    height: 60%;
}
.or{
    border-style: dashed;
    border-color: #fff;
    justify-content: center;
    margin: 2.5%;
    display: flex;
    height: 5% 
}
.business-name-input{
    border-style: dashed;
    border-color: #fff;
    justify-content: center;
    margin: 2.5%;
    display: flex;
    height: 10% 
}
.businessNameInput{
    height:100% ;
    width: 20%;

    border-radius: 10px;
}
/*======================================================================== style for transaction 4 ========================================================================================*/
.name-options{
 border-style: dashed;
background-color: red; 
width: 100%;

}
.business-name-input{
    border-style: dashed;
}
.name-header{
    border-style: dashed;
    border-color: #fff;
    margin: 2.5%;

    display: flex;
    height: 60%;
}
.or{
    border-style: dashed;
    border-color: #fff;
    justify-content: center;
    margin: 2.5%;
    display: flex;
    height: 5% 
}
.business-name-input{
    border-style: dashed;
    border-color: #fff;
    justify-content: center;
    margin: 2.5%;
    display: flex;
    height: 10% 
}
.businessNameInput{
    height:100% ;
    width: 20%;

    border-radius: 10px;
}
